h1 {
  align-self: flex-start;
}

b {
  font-size: 2rem;
  margin-block: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}

.alertB {
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: hsla(0, 0%, 39%, 0.2) 0px 2px 8px 0px;
  background-color: hsl(60, 65%, 85%);
  font-weight: 1.25rem;
  font-weight: 600;
  animation: slide-in-out 2s ease-in-out forwards;
  transform: translateX(110%);
}

@keyframes slide-in-out {
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}

.page {
  width: 90vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.actions {
  display: flex;
  gap: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.button img {
  width: 30px;
}

.button:disabled {
  cursor: not-allowed;
  box-shadow: none;
}

/* Internet Comment Component style */
.homeInternet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeInternet > h3 {
  color: #ff0055;
  font-size: 1.75rem;
  text-align: center;
  margin-block: 30px;
}

.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 190px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card h3,
.card p {
  font-size: 0.9rem;
}
